{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }}| Editions Catégorie{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-5">modifier une catégorie</h1>

        {% include('categoryAdmin/_form.html.twig') with {'label_button': 'modifier'} %}

        <a class="btn btn-danger my-3" href="{{ path('admin_category_index') }}">Accueil Administration</a>
    </main>
{% endblock %}
