{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} | ajouter une photo{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="my-5 text-center">Ajouter une photo</h1>

        {% include('pictureAdmin/_form.html.twig') with {'label_button':'Ajouter'} %}

        <a class="btn btn-outline-danger my-5" href="{{ path('admin_picture_index') }}">Accueil Administration</a>
    </main>
{% endblock %}
