{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent()}} | Modifier le bureau{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-5">Mofidier un membre</h1>

        {% include('officeAdmin/_form.html.twig') with {'label_button':'Modifier'} %}

        <a class="btn btn-danger my-3" href="{{ path('admin_office_index') }}">Accueil Administration</a>

    </main>
{% endblock %}
