$primary : #0096c7;
$secondary: #90e0ef;

$navbar-dark-color: #ffff;
$navbar-dark-hover-color: #90e0ef;
$spacing: 8px;
$spacing-2: $spacing*2;
$spacing-4: $spacing*4;
$spacing-6: $spacing*6;
$spacing-section: $spacing*10;


$title-size: 22px;
$text-size: 16px;
$text-font: roboto,sans-serif, Arial, sans-serif, Open Sans, sans-serif;
