$primary : #0096c7;
$secondary: #90e0ef;

$navbar-dark-color: #ffff;
$navbar-dark-hover-color: #90e0ef;
$grey: #808080;
$spacing: 8px;
$spacing-2: $spacing*2;
$spacing-4: $spacing*4;
$spacing-6: $spacing*6;
$spacing-section: $spacing*10;


$title-size: 22px;
$text-size: 18px;

$title-font: 'Playfair Display', serif;
$text-font: 'PT Serif', serif;
