$primary : #0096c7;
$secondary: #90e0ef;

$navbar-dark-color: #ffff;
$navbar-dark-hover-color: #90e0ef;

$title-size: 22px;
$text-size: 16px;
$text-font: roboto,sans-serif, Arial, sans-serif, Open Sans, sans-serif;
