<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}ROCS45{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}

    {% endblock %}

        {% block body %}


        {% endblock %}
    {% block footer %}

    {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
