{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} vous souhaite la bienvenue{% endblock %}


{% block body %}
    {% block navbar %}
        {% include 'includes/_navbar.html.twig' %}
    {% endblock %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block footer %}
        {% include 'includes/_footer.html.twig' %}
    {% endblock %}
{% endblock %}
